/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top:51px;
  padding-bottom: 20px;
  /*font-family:Roboto;*/
}
hr {margin-top:0;margin-bottom:0}
a, a:hover, a:focus {transition:.5s;}
h1,h2,h3,h4 {font-weight:300}
.jumbotron {padding:15px;margin-bottom: 10px}
#mmbb-header, #mmbb-main, #mmbb-sidebar1 , #mmbb-sidebar2 {padding:6px;}
/* reset Style status msg body */
/*.status-msg-body h2{font-size:1.77777em;text-transform:none}
.status-msg-border {border:none !important}
.status-msg-bg {background-color:#fff !important}
.status-msg-body {position:relative !important}*/

#mmbb-header {padding-bottom:0}
#mmbb-header .breadcrumb {margin-bottom:0;border:1px solid #ddd;}
#mmbb-main .pager{margin-top:-5px;} /*margin-top -5px untuk home jarak ke widget */
.mmbb-home-post .list-group-item .media-title > h5{line-height:1.3em;margin:0 0 5px 0;}
#mmbb-sidebar1 .widget .panel, #mmbb-sidebar2 .widget .panel {margin-bottom:8px}

#mmbb-sidebar1 .panel-footer, #mmbb-sidebar2 .panel-footer {text-align: center} 
.mmbb-popularpost .list-group-item {padding-bottom:0;}
.home-post .media-left img{width:80px;height:80px;}
.mmbb-category .panel-body {padding-bottom:0;}
.mmbb-category .list-inline li {margin-bottom:5px;padding:0;}

.mmbb-author .thumbnail {padding-top:8px;margin-bottom:0;}
footer {padding-top:15px;border-top:1px solid #ddd}
@media (min-width:768px){
  #mmbb-header, #mmbb-main, #mmbb-sidebar1 , #mmbb-sidebar2 {padding:3px}
  #mmbb-header {padding-top: 6px}
  footer {margin-top:10px;}
  footer span {float:right;}
}
@media (min-width:767px){
#mmbb-main .pager{margin-bottom:8px} /*margin-top -5px untuk home jarak ke widget */	
}
@media (max-width:767px){
#mmbb-main .pager{margin-bottom:1px} /*margin-top -5px untuk home jarak ke widget */	
#mmbb-sidebar2 .widget:first-of-type {margin-top: -12px}	
 footer {text-align:center}
}