/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top:51px;
  padding-bottom: 20px;
  /*font-family:Roboto;*/
}
hr {margin-top:0;margin-bottom:0}
a, a:hover, a:focus {transition:.5s;text-decoration:none;}
h1,h2,h3,h4 {font-weight:300}
.jumbotron {padding:15px;margin-bottom: 10px}
#mmbb-header, #mmbb-main, #mmbb-sidebar1 , #mmbb-sidebar2 {padding:6px;}
.panel-heading {padding-left:8px;}
/* reset Style status msg body */
/*.status-msg-body h2{font-size:1.77777em;text-transform:none}
.status-msg-border {border:none !important}
.status-msg-bg {background-color:#fff !important}
.status-msg-body {position:relative !important}*/

#mmbb-header {padding-bottom:0}
#mmbb-header .breadcrumb {margin-bottom:0;border:1px solid #ddd;}
#mmbb-main .pager{margin-top:-5px;} /*margin-top -5px untuk home jarak ke widget */

/*status-msg*/
.status-msg-border {display: none}
#mmbb-main > .list-group {margin-bottom:6px;} 

.mmbb-home-post .list-group-item .media-title > h5{line-height:1.3em;margin:0 0 5px 0;}
#mmbb-sidebar1 .widget .panel, #mmbb-sidebar2 .widget .panel {margin-bottom:8px}

#mmbb-main .panel-body {padding:8px}

#mmbb-sidebar1 .panel-footer, #mmbb-sidebar2 .panel-footer {text-align: center}
.mmbb-popularpost .list-group-item {padding:10px 5px 0px 8px;}
.home-post .media-left img{width:80px;height:80px;}
.mmbb-category .panel-body {padding-bottom:0;}
.mmbb-category .list-inline li {margin-bottom:5px;padding:0;}

.mmbb-post-detail .panel-body {padding-bottom: 0}
.mmbb-post-detail > .panel .list-group .list-group-item {padding:8px;}
.mmbb-post-detail .panel-footer{border-radius: 0;border-bottom: 1px solid #ddd;padding-right:8px;}
.mmbb-postrelated > h5 {margin-left: 10px;margin-bottom:0;}
.mmbb-postrelated .list-group{margin-bottom: 0}
.mmbb-postrelated .list-group-item {border-radius: 0;border:none;padding-left:10px;}
.mmbb-postrelated .list-group-item:not(:first-child){border-top:1px solid #ddd;}
.mmbb-author .thumbnail {padding-top:8px;margin-bottom:0;}

.jqh-sharing h5{display:inline-block;margin:0;padding-right:10px;color:#777;}
.jqh-sharing a .icon{color: #bbb;transition:.5s}
.icon {
  display: inline-block;
  vertical-align: -15%;
  position:relative;
  font: normal normal normal 14px/1 mmbb-font;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-sm {font-size:1.33333333em;line-height: 0.75em;vertical-align: -30%}
.icon-md {font-size:1.66666666em;line-height: 1em;vertical-align: -28%}
.jqh-link:hover .jqh-googleplus,
.jqh-link:hover .jqh-googleplus-square,
.jqh-link-colored .jqh-googleplus,
.jqh-link-colored .jqh-googleplus-square,
.jqh-sharing a:hover .jqh-googleplus,
.jqh-sharing a:hover .jqh-googleplus-square,
.jqh-sharing-colored a .jqh-googleplus,
.jqh-sharing-colored a .jqh-googleplus-square {color:#DC4E41}

.jqh-link:hover .jqh-facebook,
.jqh-link:hover .jqh-facebook-square,
.jqh-link-colored .jqh-facebook,
.jqh-link-colored .jqh-facebook-square,
.jqh-sharing a:hover .jqh-facebook,
.jqh-sharing a:hover .jqh-facebook-square,
.jqh-sharing-colored a .jqh-facebook,
.jqh-sharing-colored a .jqh-facebook-square {color:#3B5998}

.jqh-link:hover .jqh-twitter,
.jqh-link:hover .jqh-twitter-square,
.jqh-link-colored .jqh-twitter + b,
.jqh-link-colored .jqh-twitter,
.jqh-link-colored .jqh-twitter-square,
.jqh-sharing a:hover .jqh-twitter,
.jqh-sharing a:hover .jqh-twitter-square,
.jqh-sharing-colored a .jqh-twitter,
.jqh-sharing-colored a .jqh-twitter-square{color:#1DA1F2}

.jqh-sharing-colored a:hover .icon{color:#bbb;}
.jqh-link .icon {color:#bbb}
.mmbb-pager a.active {color: #bbb; background-color: #eee;cursor:default}

.mmbb-blogroll .panel-body {padding:10px 10px 3px 10px;}
footer {padding-top:15px;border-top:1px solid #ddd}
@media (min-width:768px){
  #mmbb-header, #mmbb-main, #mmbb-sidebar1 , #mmbb-sidebar2 {padding:3px}
  #mmbb-header {padding-top: 6px}
  footer {margin-top:10px;}
  footer span {float:right;}
}
@media (min-width:767px){
#mmbb-main .pager{margin-bottom:8px} /*margin-top -5px untuk home jarak ke widget */	
}
@media (max-width:767px){
#mmbb-main .pager{margin-bottom:1px} /*margin-top -5px untuk home jarak ke widget */	
#mmbb-sidebar2 .widget:first-of-type {margin-top: -12px}	
 footer {text-align:center}
}