/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family:"Open Sans";
}
hr {margin-top:0;margin-bottom:0;border-color:#ccc;}
a, a:hover {transition:.5s;}
h1,h2,h3,h4,p, * {font-weight:400;}
svg{position:relative;fill:currentColor;vertical-align: -12.44444%}
.jumbotron{
	position:relative;
	margin-bottom: -10px;
	color:#fff;
  padding-bottom:0;
  
  background: rgba(232,97,131,1);
  background: -moz-linear-gradient(45deg, rgba(232,97,131,1) 0%, rgba(48,110,176,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(232,97,131,1)), color-stop(100%, rgba(48,110,176,1)));
  background: -webkit-linear-gradient(45deg, rgba(232,97,131,1) 0%, rgba(48,110,176,1) 100%);
  background: -o-linear-gradient(45deg, rgba(232,97,131,1) 0%, rgba(48,110,176,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(232,97,131,1) 0%, rgba(48,110,176,1) 100%);
  background: linear-gradient(45deg, rgba(232,97,131,1) 0%, rgba(48,110,176,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e86183', endColorstr='#306eb0', GradientType=1 );
}
.jumbotronfooter {
  padding: 10px;color:#000;text-align:center;
  background: rgba(238,135,160,1);
  background: -moz-linear-gradient(45deg, rgba(238,135,160,1) 0%, rgba(55,125,200,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(238,135,160,1)), color-stop(100%, rgba(55,125,200,1)));
  background: -webkit-linear-gradient(45deg, rgba(238,135,160,1) 0%, rgba(55,125,200,1) 100%);
  background: -o-linear-gradient(45deg, rgba(238,135,160,1) 0%, rgba(55,125,200,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(238,135,160,1) 0%, rgba(55,125,200,1) 100%);
  background: linear-gradient(45deg, rgba(238,135,160,1) 0%, rgba(55,125,200,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee87a0', endColorstr='#377dc8', GradientType=1 );
}

.icon {
  display: inline-block;
  vertical-align: -15%;
  position:relative;
  font: normal normal normal 14px/1 mmbb-font;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;	
}
.icon-sm {font-size:1.33333333em;line-height: 0.75em;vertical-align: -30%}
.icon-md {font-size:1.66666666em;line-height: 1em;vertical-align: -28%}

#main, #sidebar {padding:15px}
#main .list-group-item:hover{background-color:#f1f1f1;}
#main .list-group-item:hover .jqh-check-circle-o {color:#3c763d}
#main .list-group-item:hover .jqh-times-circle-o {color:#a94442}

.list-group-item .media-left {padding-right:0;padding-left: 5px}
.list-group-item .media-body p{margin-bottom: 0;margin-top:8px;}
.list-group-item .media-body > h4 {margin-top:3px;margin-bottom:3px;}
.jqh-check-circle-o{color:#4cae4c}
.jqh-times-circle-o{color:#c9302c}

.btn-ox {margin-top:8px;
  margin-right:10px;background-color:transparent;border-radius:12px;color:#fff;border-width:2px;
}
.btn-ox .icon {vertical-align: -37%}
.btn-ox:hover, .btn-ox:focus, .btn-ox:active, 
.btn-ox:active:focus, .btn-ox:active:hover{background-color:transparent;color:#ddd;}
#screenshot {margin-top:12px;text-align:center;}
#sidebar ul {margin:0;padding-left:18px;}
#sidebar ul li:not(:first-child) {padding-top: 8px;}
body > footer {
padding:20px 0;
border-top: 1px solid #ccc;
}
@media (min-width:992px){
  #main {padding-right:0;}
  #screenshot .col-xs-12 {padding:4px;}
  #screenshot {padding-left:13px;padding-right:13px;} 
}
@media (max-width:991px){
 #main, #sidebar .sidebar:not(:last-of-type) {padding:8px;}
 #sidebar .sidebar:last-of-type > h2{margin-left:-8px;padding-top:8px;}
 #screenshot .col-xs-12{padding:0 8px;}
 #sidebar .sidebar {margin-top:-20px;}
 #main{padding-bottom: 0}
 #sidebar {padding-top:0}
}
@media (max-width:767px){
 footer, footer .col-xs-12 {text-align:center}
  {margin-top: -10px}
 footer .col-xs-12:last-of-type{padding-top: 8px}
 footer .col-xs-12:first-of-type{margin-top:-6px} 
 .jumbotron {padding:0;line-height:1.6em}
 .list-group-item {padding:8px}
}